<p>users-list works!</p>

<p>users works!</p>

<section>

  <p routerLink="/product/list">گوشی موبایل اپل</p>
  <hr/>
  <div class="row d-flex justify-content-center kk">
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="cellphon">
        <img class="imgCellP" src="https://dkstatics-public.digikala.com/digikala-products/dcd6e4e843bea3f070614a95d27b1181fdf23008_1677071416.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80" alt="cellPhon"/>
        <div class="send">
          <img class="sendIcon" src="https://dkstatics-public.digikala.com/digikala-static/40103386d101974d18b40cee05e8d62823a657fa_1678547065.png" alt="sendIcon"/>
          <p class="sendText">ارسال رایگان</p>
        </div>
        <p class="celdis">گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</p>
        <div class="parentSends">
          <div class="send">
            <img class="sendIcon" src="assets/schedule.svg" alt="schedule"/>
            <p>ارسال فردا</p>
          </div>
          <div class="send">
            <p>4.4</p>
            <img class="sendIcon" src="assets/star.svg" alt="starIcon"/>
          </div>
        </div>
        <p class="price">45,000,000 تومان</p>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="cellphon">
        <img class="imgCellP" src="https://dkstatics-public.digikala.com/digikala-products/fa5961b7d2a4efb180d686f6f69dd45381a4d3dd_1693746193.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80" alt="cellPhon"/>
        <div class="send">
          <img class="sendIcon" src="https://dkstatics-public.digikala.com/digikala-static/40103386d101974d18b40cee05e8d62823a657fa_1678547065.png" alt="sendIcon"/>
          <p class="sendText">ارسال رایگان</p>
        </div>
        <p class="celdis">گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</p>
        <div class="parentSends">
          <div class="send">
            <img class="sendIcon" src="assets/schedule.svg" alt="schedule"/>
            <p>ارسال فردا</p>
          </div>
          <div class="send">
            <p>4.4</p>
            <img class="sendIcon" src="assets/star.svg" alt="starIcon"/>
          </div>
        </div>
        <p class="price">41,000,000 تومان</p>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="cellphon">
        <img class="imgCellP" src="https://dkstatics-public.digikala.com/digikala-products/19e5e6ed7f167065152ee4d3feb86142c7bb587e_1656416953.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80" alt="cellPhon"/>
        <div class="send">
          <img class="sendIcon" src="https://dkstatics-public.digikala.com/digikala-static/40103386d101974d18b40cee05e8d62823a657fa_1678547065.png" alt="sendIcon"/>
          <p class="sendText">ارسال رایگان</p>
        </div>
        <p class="celdis">گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</p>
        <div class="parentSends">
          <div class="send">
            <img class="sendIcon" src="assets/schedule.svg" alt="schedule"/>
            <p>ارسال فردا</p>
          </div>
          <div class="send">
            <p>4.4</p>
            <img class="sendIcon" src="assets/star.svg" alt="starIcon"/>
          </div>
        </div>
        <p class="price">45,000,000 تومان</p>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="cellphon">
        <img class="imgCellP" src="https://dkstatics-public.digikala.com/digikala-products/71e8dbf638d9d2d62228b4609fdcbd8db395fabb_1693753045.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80" alt="cellPhon"/>
        <div class="send">
          <img class="sendIcon" src="https://dkstatics-public.digikala.com/digikala-static/40103386d101974d18b40cee05e8d62823a657fa_1678547065.png" alt="sendIcon"/>
          <p class="sendText">ارسال رایگان</p>
        </div>
        <p class="celdis">گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</p>
        <div class="parentSends">
          <div class="send">
            <img class="sendIcon" src="assets/schedule.svg" alt="schedule"/>
            <p>ارسال فردا</p>
          </div>
          <div class="send">
            <p>4.4</p>
            <img class="sendIcon" src="assets/star.svg" alt="starIcon"/>
          </div>
        </div>
        <p class="price">42,000,000 تومان</p>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="cellphon">
        <img class="imgCellP" src="https://dkstatics-public.digikala.com/digikala-products/b4394be035a3d670e4bb75a08d4f4601c1e8a0cd_1704620974.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80" alt="cellPhon"/>
        <div class="send">
          <img class="sendIcon" src="https://dkstatics-public.digikala.com/digikala-static/40103386d101974d18b40cee05e8d62823a657fa_1678547065.png" alt="sendIcon"/>
          <p class="sendText">ارسال رایگان</p>
        </div>
        <p class="celdis">گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</p>
        <div class="parentSends">
          <div class="send">
            <img class="sendIcon" src="assets/schedule.svg" alt="schedule"/>
            <p>ارسال فردا</p>
          </div>
          <div class="send">
            <p>4.4</p>
            <img class="sendIcon" src="assets/star.svg" alt="starIcon"/>
          </div>
        </div>
        <p class="price">45,000,000 تومان</p>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="cellphon">
        <img class="imgCellP" src="https://dkstatics-public.digikala.com/digikala-products/19e5e6ed7f167065152ee4d3feb86142c7bb587e_1656416953.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80" alt="cellPhon"/>
        <div class="send">
          <img class="sendIcon" src="https://dkstatics-public.digikala.com/digikala-static/40103386d101974d18b40cee05e8d62823a657fa_1678547065.png" alt="sendIcon"/>
          <p class="sendText">ارسال رایگان</p>
        </div>
        <p class="celdis">گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</p>
        <div class="parentSends">
          <div class="send">
            <img class="sendIcon" src="assets/schedule.svg" alt="schedule"/>
            <p>ارسال فردا</p>
          </div>
          <div class="send">
            <p>4.4</p>
            <img class="sendIcon" src="assets/star.svg" alt="starIcon"/>
          </div>
        </div>
        <p class="price">43,000,000 تومان</p>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="cellphon">
        <img class="imgCellP" src="https://dkstatics-public.digikala.com/digikala-products/ec9a962187e1f82cc47e7a148ef99ec1c6fd024d_1656423336.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80" alt="cellPhon"/>
        <div class="send">
          <img class="sendIcon" src="https://dkstatics-public.digikala.com/digikala-static/40103386d101974d18b40cee05e8d62823a657fa_1678547065.png" alt="sendIcon"/>
          <p class="sendText">ارسال رایگان</p>
        </div>
        <p class="celdis">گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</p>
        <div class="parentSends">
          <div class="send">
            <img class="sendIcon" src="assets/schedule.svg" alt="schedule"/>
            <p>ارسال فردا</p>
          </div>
          <div class="send">
            <p>4.4</p>
            <img class="sendIcon" src="assets/star.svg" alt="starIcon"/>
          </div>
        </div>
        <p class="price">45,000,000 تومان</p>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="cellphon">
        <img class="imgCellP" src="https://dkstatics-public.digikala.com/digikala-products/71e8dbf638d9d2d62228b4609fdcbd8db395fabb_1693753045.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80" alt="cellPhon"/>
        <div class="send">
          <img class="sendIcon" src="https://dkstatics-public.digikala.com/digikala-static/40103386d101974d18b40cee05e8d62823a657fa_1678547065.png" alt="sendIcon"/>
          <p class="sendText">ارسال رایگان</p>
        </div>
        <p class="celdis">گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</p>
        <div class="parentSends">
          <div class="send">
            <img class="sendIcon" src="assets/schedule.svg" alt="schedule"/>
            <p>ارسال فردا</p>
          </div>
          <div class="send">
            <p>4.4</p>
            <img class="sendIcon" src="assets/star.svg" alt="starIcon"/>
          </div>
        </div>
        <p class="price">41,000,000 تومان</p>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="cellphon">
        <img class="imgCellP" src="https://dkstatics-public.digikala.com/digikala-products/fa5961b7d2a4efb180d686f6f69dd45381a4d3dd_1693746193.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80" alt="cellPhon"/>
        <div class="send">
          <img class="sendIcon" src="https://dkstatics-public.digikala.com/digikala-static/40103386d101974d18b40cee05e8d62823a657fa_1678547065.png" alt="sendIcon"/>
          <p class="sendText">ارسال رایگان</p>
        </div>
        <p class="celdis">گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</p>
        <div class="parentSends">
          <div class="send">
            <img class="sendIcon" src="assets/schedule.svg" alt="schedule"/>
            <p>ارسال فردا</p>
          </div>
          <div class="send">
            <p>4.4</p>
            <img class="sendIcon" src="assets/star.svg" alt="starIcon"/>
          </div>
        </div>
        <p class="price">39,000,000 تومان</p>
      </div>
    </div>

    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">
      <div class="cellphon">
        <img class="imgCellP" src="https://dkstatics-public.digikala.com/digikala-products/ec9a962187e1f82cc47e7a148ef99ec1c6fd024d_1656423336.jpg?x-oss-process=image/resize,m_lfit,h_300,w_300/format,webp/quality,q_80" alt="cellPhon"/>
        <div class="send">
          <img class="sendIcon" src="https://dkstatics-public.digikala.com/digikala-static/40103386d101974d18b40cee05e8d62823a657fa_1678547065.png" alt="sendIcon"/>
          <p class="sendText">ارسال رایگان</p>
        </div>
        <p class="celdis">گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</p>
        <div class="parentSends">
          <div class="send">
            <img class="sendIcon" src="assets/schedule.svg" alt="schedule"/>
            <p>ارسال فردا</p>
          </div>
          <div class="send">
            <p>4.4</p>
            <img class="sendIcon" src="assets/star.svg" alt="starIcon"/>
          </div>
        </div>
        <p class="price">40,000,000 تومان</p>
      </div>
    </div>

  </div>

  <hr/>
  <hr/>
  <hr/>

  <div class="row">

    <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
      <img class="imgCellP" src="https://dkstatics-public.digikala.com/digikala-products/ec9a962187e1f82cc47e7a148ef99ec1c6fd024d_1656423336.jpg?x-oss-process=image/resize,m_lfit,h_800,w_800/format,webp/quality,q_90" alt="cellPhon"/>
    </div>

    <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <a href="" class="category">گوشی موبایل اپل</a>
          <br/>
          <br/>
          <h5>گوشی موبایل اپل مدل iPhone 13 CH دو سیم‌ کارت ظرفیت 128 گیگابایت و رم 4 گیگابایت - نات اکتیو</h5>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
          <div class="dl">
            <span class="vl"></span>
            <p class="pl">Apple iPhone 13 CH Dual SIM 256GB And 4GB RAM Mobile Phone - Not Activate</p>
          </div>
          <br/>
          <br/>
          <div class="send">
            <img class="thumb" src="assets/thumb.svg" alt="thumb"/>
            <p class="thumbtext">۸۸% (۵۵۰ نفر) از خریداران، این کالا را پیشنهاد کرده‌اند</p>
          </div>
          <label for="color">رنگ:</label>
          <br/>
          <br/>
          <input type="color" id="color"/>
          <br/>
          <br/>
          <div>
            <h6>بیمه</h6>
            <div class="insurence">
              <input class="inputBimeh" type="checkbox" name="bimeh"/>
              <div class="insurence1">
                <p>بیمه تجهیزات دیجیتال - بیمه پارسیان</p>
                <p>73,500 تومان</p>
              </div>
            </div>
          </div>

        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <div class="shadow">
            <div class="parentSends">
              <h6>فروشنده</h6>
              <a href="">۷ فروشنده دیگر</a>
            </div>
            <hr/>
            <div class="send">
              <img class="thumb" src="assets/priority.svg"alt="priority"/>
              <p class="thumbtext">گارانتی ۱۸ ماهه راشا مهر نیکان</p>
            </div>
            <hr/>
            <div class="sendSell">
              <div class="send">
                <img class="sendIcon" src="https://dkstatics-public.digikala.com/digikala-static/40103386d101974d18b40cee05e8d62823a657fa_1678547065.png" alt="sendIcon"/>
                <p class="sendText">ارسال دیجی‌کالا</p>
              </div>
              <div class="send">
                <img class="sendIcon" src="assets/schedule.svg" alt="schedule"/>
                <p>ارسال امروز (فعلا در شهر تهران و کرج)</p>
              </div>
            </div>
            <hr/>
            <div class="send">
              <img class="thumb" src="assets/credit_score.svg"alt="priority"/>
              <p class="thumbtext">۱۵۰ امتیاز دیجی‌کلاب</p>
            </div>
            <hr/>
            <div class="parentSends">
              <img src="assets/shopping.svg" alt="shopping"/>
              <p>44,990,000</p>
            </div>
            <div class="send">
              <img class="thumb" src="assets/thumb.svg" alt="thumb"/>
              <p class="thumbtextgreen">۸۸%اخیرا ۲۰۰+ خریدار این کالا را پیشنهاد کردند</p>
            </div>
            <button name="button">افزودن به سبد خرید</button>

          </div>
        </div>
      </div>
    </div><!--shadow-->

  </div>


</section>
